#container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  max-width: min-content;
}

#row {
  display: flex;
  width: 100%;
  min-height: 25px;
}

#box {
  border: 1px solid black;
  min-width: 25px;
}

.hover {
  background-color: blue;
}